Redirect /jason-rohrer/worklog/rss.xml http://www.northcountrynotes.org/jason-rohrer/worklog/seedBlogs.php?action=rss_feed&blog_name=features&channel_title=interchangeable+parts&channel_description=Jason+Rohrer%27s+journal+of+inventions+and+ideas&max_number=10&show_authors=0&show_dates=1
